application: gaecron
version: 1
runtime: python27
api_version: 1
threadsafe: true

#automatic_scaling:
#  max_idle_instances: 1
#  min_pending_latency: 15.0s

libraries:
- name: webapp2
  version: latest

- name: jinja2
  version: 2.6

inbound_services:
- mail
- warmup

handlers:
- url: /script
  static_dir: script

- url: /css
  static_dir: css

- url: /image
  static_dir: image

- url: /(.*\.(gif|png|jpg|ico))
  static_files: image/\1
  upload: image/(.*\.(gif|png|jpg|ico))

- url: /gaetimer/timeout.*
  script: gaetimer.app
  
- url: /gaetimer/.*
  script: gaetimer.app
  login: admin

- url: /(check|restore)_timer.*
  script: gaecron.app
  login: admin

- url: /_ah/mail/gaecron.+
  script: gaecron.app
  login: admin

- url: /_ah/warmup
  script: gaetimer.app
  login: admin 

- url: /.*
  script: gaecron.app
