#==============================================================================
# Configuration File of gaecron.py
#==============================================================================
# MaxUser: 最大ユーザ数
MaxUser : 50

# MaxTimerPerUser: 1ユーザあたりの最大タイマ数
MaxTimerPerUser : 3
